<!DOCTYPE html>
<html>
<head>
  <title>Closet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main-view">
	<h1>Outfit of the Day #OOTD</h1>
	 <section id='outfit-view'>
	 </section>
	 <section id='preview-list-view'>
	 </section>
	
</div>

<%= yield %>

</body>
</html>
