<div class="input">
  <input type="text" name="outfit_name" id="outfit_name" value='{{outfit_name}}' autocomplete="off">
</div>
<br>

 <input type="text" name="image" id="image" value='{{image}}'><br>
 <input type="text" name="description" id="description" value='{{description}}'><br>
 <input type="text" name="price" id="price" value='{{price}}'><br>

<input type='button' value="Update" class="button update">