<div class="input">
  <input type="text" name="outfit_name" id="outfit_name" placeholder='Outfit type' autocomplete="off">
</div>
<br>

 <input type="text" name="image" id="image" placeholder='Image'><br>
 <input type="text" name="description" id="description" placeholder='Description of outfit'><br>
 <input type="text" name="price" id="price" placeholder='Price'><br>


<input type='button' value="Post" class="button create">
