
    <p>
       <img src="{{image}}" style="height: 200px; width: 200px; border-style: solid; border-color: darkgrey; border-radius: 5%";>
       
    </p>

  	<span class="delete" style="color: darkgrey;font-family: Lato;" >Delete
</span>

