<p class='new'>new outfit</p>
<p class='delete'>delete</p>
<div class="input">
    <p class="outfit_name">{{outfit_name}}</p>
</div>
<br>
<img class="input" src="{{image}}" />
<p class="description">{{description}}</p>
<p class="price">{{price}}</p>
<br>
<input type="button" value="Edit" class="button edit">